# Python
*.py[cod]
__pycache__/
*.so

# Virtual Environment
venv/
.env
.env.*

# FastAPI
*.log
*.sqlite3

# Pytest
.cache/
*.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

.bashrc

*.db

env/